// app global css in Stylus form

@font-face
    font-family 'mainFont'
    src url('../statics/fonts/Courgette/Courgette-Regular.ttf')

@font-face
    font-family: 'eventName'
    src url('../statics/fonts/Poppins/Poppins-Regular.ttf')